{% extends "admin/index.html" %}

{% block content %}
<div class="module">
    <table>
        <caption>
            <a href="{% url 'manage_students' %}#end-of-year-promotion" class="section">End-of-Year Student Promotion Approvals</a>
        </caption>
        <tr>
            <th scope="row">
                <a href="{% url 'manage_students' %}#end-of-year-promotion">Review Promotion Requests</a>
            </th>
            <td>
                <a href="{% url 'manage_students' %}#end-of-year-promotion" class="button">Open promotion tool</a>
            </td>
        </tr>
    </table>
</div>
<div class="module">
    <table>
        <caption>
            <a href="{% url 'staff_results' %}" class="section">Student Results</a>
        </caption>
        <tr>
            <th scope="row">
                <a href="{% url 'staff_results' %}">View and Print Student Results</a>
            </th>
            <td>
                <a href="{% url 'staff_results' %}?term=session" class="button">Session summaries</a>
            </td>
        </tr>
    </table>
</div>
{{ block.super }}
{% endblock %}
